.custom-select {
  $self: &;
  position: relative;

  .select {
    @extend .visually-hidden;
  }

  &__control {
    position: relative;
    width: 100%;
    min-height: 48px;
    display: flex;
    align-items: center;
    padding: 12px 10px;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid $c-secondary;
    border-radius: 3px;

    span {
      font-family: $ff-main;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      color: #272733;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 47%;
      right: 16px;
      border-bottom: 1px solid;
      border-left: 1px solid;
      width: 6px;
      height: 6px;
      transform: translateY(-50%) rotate(-45deg);
      transition: .2s;
      pointer-events: none;
    }
  }

  &--open {
    #{$self}__control {
      background: rgba(61, 64, 80, 0.85);
      border-radius: 3px 3px 0px 0px;
      border-color: rgba(61, 64, 80, 0.85);
      color: $c-secondary;

      span {
        color: $c-secondary;
      }

      &::after {
        transform: rotate(-225deg);
      }
    }
  }

  &__dropdown {
    background: rgba(39, 39, 51, 0.9);
    border-radius: 0 0 3px 3px;
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
    transition: .1s;
    width: 100%;
    position: absolute;
    z-index: 1;

    #{$self}--open & {
      border: 1px solid #3D4050;
      max-height: 180px;
      overflow-y: auto;
    }

    &::-webkit-scrollbar {
      background: #3d4050;
      background-clip: padding-box;
      border: 3px solid transparent;
      border-radius: 50em;
      width: 13px;
    }

    &::-webkit-scrollbar-thumb {
      background-clip: padding-box;
      border: 3px solid transparent;
      border-radius: 50em;
      background-color: #3e9cdc;
      width: 13px;
    }
  }

  &__option {
    font-family: $ff-main;
    font-size: 18px;
    line-height: 1.89;
    color: $c-secondary;
    cursor: pointer;

    &--selected {
      display: none;
    }

    &--focus {
      color: $c-accent;
    }

    &:active {
      color: $c-accent;
    }
  }
}
