.footer-pay {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  text-decoration: none;
  color: #c3c3c3;
  transition: 0.3s;

  svg {
    width: 20px;
    height: 20px;
    fill: $c-accent;
    position: relative;
    top: -1px;
  }

  span {
    padding-left: 10px;
  }
}
