.footer {
  background-color: $bc-grey;

  &__inner {
    display: flex;
    align-items: center;
    min-height: 80px;
    padding: 10px 0;

    @media (max-width: $xl) {
      flex-direction: column;
      min-height: auto;
      padding: 30px 0;
    }

    @media (max-width: $sm) {
      align-items: flex-start;
    }
  }

  &__copy {
    margin-bottom: 0;
    font-family: $ff-main;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: $c-secondary;

    @media (max-width: $xl) {
      order: 1;
      margin-right: 0;
    }
  }

  &__list {
    @extend .list-reset;

    display: flex;
    align-items: center;

    @media (max-width: $xl) {
      margin-bottom: 30px;
    }

    @media (max-width: $sm) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 15px;
    }

    &:nth-of-type(1) {
      margin: 0 auto;
      padding: 0 41px;
      position: relative;

      @media (max-width: $xl) {
        margin-bottom: 30px;
        padding: 0;
      }

      @media (max-width: $sm) {
        margin: 0 0 15px;
      }

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        height: 18px;
        width: 1px;
        background-color: #c3c3c3;
        transform: translateY(-50%);

        @media (max-width: $xl) {
         display: none;
        }
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 38px;

      @media (max-width: $sm) {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }

  &__pay {
    margin-bottom: 0;
  }
}
