.header {
  $self: &;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: $bc-header;

  &--fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 30;
  }

  &__inner {
    min-height: 100px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $md) {
      min-height: 60px;
    }

    .header--fixed & {
      min-height: 80px;

      @media (max-width: $md) {
        min-height: 40px;
      }
    }
  }

  &__logo-link {
    flex-shrink: 0;
    margin-right: 30px;
  }

  &__logo-img {
    width: 247px;

    @media (max-width: $md) {
      width: 190px;
    }
  }

  &__nav-wrapper {
    @media (max-width: $md) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 20;
      width: 100%;
      height: 100%;
      display: none;
      background-color: rgba(#000, .4);

      &--show {
        display: block;
      }
    }
  }

  &__nav {
    @media (max-width: $md) {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: 300px;
      height: 100%;
      padding: 80px 40px 40px;
      overflow-y: auto;
      background-color: $bc-header;
    }

    @media (max-width: $xs) {
      width: 260px;
    }
  }

  &__btn-close {
    display: none;

    @media (max-width: $md) {
      position: absolute;
      top: 15px;
      right: 15px;
      display: block;
      width: 32px;
      height: 32px;
      padding: 0;
      background-color: transparent;
      border: none;

      svg {
        width: 32px;
        height: 32px;
        fill: #fff;
      }
    }
  }

  &__btn-burger {
    display: none;
    @media (max-width: $md) {
      display: block;
      width: 32px;
      height: 32px;
      padding: 0;
      background-color: transparent;
      border: none;

      #{$self}--fixed & {
        width: 24px;
        height: 24px;
      }

      svg {
        width: 32px;
        height: 32px;

        fill: #fff;

        #{$self}--fixed & {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
