.slider-range {
  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    font-family: $ff-main;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: $c-secondary;
    padding-right: 10px;

    @media (max-width: $sm) {
      font-size: $fz-main;
    }
  }

  &__range {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #FFFFFF;
    border-radius: 50em;
    height: 6px;
  }

  &__value {
    font-family: $ff-main;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    text-align: right;

    color: rgba(255, 255, 255, 0.85);
  }

  .noUi-handle {
    background: #42A9ED;
    border: 3px solid #286690;
    width: 24px;
    height: 24px;
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }
}
