// ////////////////////////////////////////// Lato
@font-face {
  font-weight: 600;
  font-family: Lato;
  font-style: normal;
  font-display: swap;
  src: url(../font/Lato/Lato-Regular.woff2),
  url(../font/Lato/Lato-Regular.woff);
}

@font-face {
  font-weight: 600;
  font-family: Lato;
  font-style: normal;
  font-display: swap;
  src: url(../font/Lato/Lato-Semibold.woff2),
  url(../font/Lato/Lato-Semibold.woff);
}

@font-face {
  font-weight: 700;
  font-family: Lato;
  font-style: normal;
  font-display: swap;
  src: url(../font/Lato/Lato-Bold.woff2),
  url(../font/Lato/Lato-Bold.woff);
}

@font-face {
  font-weight: 900;
  font-family: Lato;
  font-style: normal;
  font-display: swap;
  src: url(../font/Lato/Lato-Heavy.woff2),
  url(../font/Lato/Lato-Heavy.woff);
}
