// //////////////////////////////////////// font
$ff-main: "Lato", sans-serif;
$fz-main: 16px;

// //////////////////////////////////////// colors
$c-main: #000;
$c-secondary: #fff;
$c-accent: #3e9cdc;
$bc-header: rgba(16, 16, 29, 0.9);
$bc-grey: #3d4050;

// //////////////////////////////////////// breakpoints
$xl: 1229.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;
$xs: 425.98px;
$ss: 359.98px;
